@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

span,
a {
  font-family: var(--font-graphik), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-abril), serif;
}

h2 {
  font-size: calc(1vw + 1vh);
}

img {
  max-width: none;
}

.node-content-body {
  @apply inline-block relative max-w-[900px] md:ml-[calc(0px_+_3.3846153846vw)] md:mr-6 pt-10;
}

.body-text {
  @apply text-lg text-black normal-case font-[lighter] leading-[1.85] text-left;
  font-family: var(--font-graphik), sans-serif;
}

#reactions {
  display: none !important;
}

@layer utilities {
  .font-graphiklight {
    font-family: var(--font-graphik), sans-serif;
    font-weight: 300;
  }

  .font-graphiknormal {
    font-family: var(--font-graphik), sans-serif;
    font-weight: 400;
  }

  .font-graphikmedium {
    font-family: var(--font-graphik), sans-serif;
    font-weight: 500;
  }

  .font-graphiksemibold {
    font-family: var(--font-graphik), sans-serif;
    font-weight: 600;
  }

  .font-graphikbold {
    font-family: var(--font-graphik), sans-serif;
    font-weight: 700;
  }
}